/* main colors */
$body-color: #FFFFFF;
$primary-color: #FF6464;
$secondary-color: #00A8CC;
$dark-color: #21243D;
$light-color: #8695A4;
$white-color: #FFFFFF;
/* fonts */
$font-regular-path: "../assets/fonts/Heebo-Regular.ttf";
$font-regular-family: "Heebo-regular";
$font-light-path: "../assets/fonts/Heebo-Light.ttf";
$font-light-family: "Heebo-light";
$font-bold-path: "../assets/fonts/Heebo-Bold.ttf";
$font-bold-family: "Heebo-bold";
@font-face {
    font-family: $font-regular-family;
    src: url($font-regular-path) format('truetype');
}
@font-face {
    font-family: $font-light-family;
    src: url($font-light-path) format('truetype');
}
@font-face {
    font-family: $font-bold-family;
    src: url($font-bold-path) format('truetype');
}

/* body */
body {
    margin: 0;
    padding: 0;
    background-color: $body-color;
    font-family: $font-regular-family;
    color: $dark-color;
    font-size: 16px;
}
/* container */
.container {
    width: 100%;
    max-width: 858px;
    margin: 0 auto;
    box-sizing: border-box;
}
.container-fluid {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}
/* customized styles */
a {
    display: inline-block;
    text-decoration: none;
    color: $dark-color;
}
li,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
figure {
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
/* motions */
* {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
/* header */
.common-header {
    display: flex;
    justify-content: flex-end;
    padding: 27px 0;
}
.common-header-list {
    display: flex;
    align-items: center;
    li {
        padding: 0 calc(33 / 2 * 1px);
        a {
            color: $dark-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
/* top banner */
.top-banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    padding-bottom: 71px;
}
/* top banner content */
.top-banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
        width: 100%;
        max-width: 497px;
        text-align: justify;
        margin-bottom: 38px;
    }
}
.top-banner-header {
    font-family: $font-bold-family;
    font-size: 44px;
    margin-bottom: 40px;
}
.top-banner-cta {
    font-size: 20px;
    padding: 9px 21px 9px 20px;
    background-color: $primary-color;
    border: solid 1px $primary-color;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: $white-color;
    &:hover {
        color: $primary-color;
        background-color: transparent;
    }
}
/* top banner img */
.top-banner-img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    figure {
        width: 243px;
        height: 243px;
        overflow: hidden;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
/* recent posts banner */
.recent-posts-banner {
    background-color: #EDF7FA;
}
.recent-posts-banner-content {
    padding: 7px 0 32px;
}
.recent-posts-banner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 27px 0 22px;
}
.recent-posts-banner-header {
    font-size: 22px;
    color: $dark-color;
}
.recent-posts-banner-cta {
    position: relative;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 0;
        border-bottom: 1px solid $secondary-color;
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}
.recent-posts-banner-box-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    a {
        display: inline-block;
        width: 418px;
        max-width: 49%;
        color: $dark-color;
        &:hover {
            .recent-posts-banner-box {
                box-shadow: 0 0 10px 5px rgba($color: #333333,$alpha: .05);
            }
        }
    }
    .recent-posts-banner-box {
        height: 295px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 24px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        background-color: $white-color;
        p {
            text-align: justify;
            width: 100%;
            max-width: 368px;
        }
    }
    .recent-posts-banner-box-header {
        font-size: 26px;
    }
    .recent-posts-banner-box-list {
        display: flex;
        align-items: center;
        li {
            font-size: 18px;
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
/* featured works */
.featured-works-banner {
    margin: 20px 0 52px;
}
.featured-works-banner-header {
    margin-bottom: 22px;
    font-size: 22px;
    color: $dark-color;
}
.featured-works-banner-list {
    .featured-works-banner-list-content {
        &::after {
            content: "";
            display: block;
            position: relative;
            border-bottom: 1px solid #e0e0e0;
            margin: 35px 0;
            width: 100%;
        }
    }
}
.featured-works-box {
    display: flex;
    width: 100%;
    height: 180px;
}
.featured-works-box-img {
    width: 246px;
    height: 100%;
    overflow: hidden;
    figure {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.featured-works-box-content {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    p {
        width: 100%;
        max-width: 594px;
    }
}
.featured-works-box-header {
    font-size: 30px;
    font-family: $font-bold-family;
}
.featured-works-box-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .date {
        padding: 0 10px;
        background-color: $dark-color;
        color: $white-color;
        font-size: 18px;
        border: 1px solid $dark-color;
        border-radius: 16px;
        -webkit-border-radius: 16px;
        -moz-border-radius: 16px;
        -ms-border-radius: 16px;
        -o-border-radius: 16px;
        margin-right: 26px;
    }
    .category {
        font-size: 20px;
        color: $light-color;
    }
}
/* footer */
footer {
    margin-top: 48px;
    padding: 51px 0 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-social-links {
    margin-bottom: 26px;
    display: flex;
    a {
        margin-right: 35px;
        &:last-of-type {
            margin-right: 0;
        }
        li {
            span {
                display: inline-block;
            width: 30px;
            height: 30px;
            background-color: $dark-color;
            }
        }
    }
}
.footer-rights {
    display: block;
    font-size: 14px;
}
/* blog page */
/* blog header */
.blog-header {
    margin: 79px 0 55px;
    font-size: 44px;
    font-family: $font-bold-family;
}